/* colors */
:root{
    --fontsColor:#333;
    --cartColor:#2f4766;
    --hrefColor:#4383af;
    --backgroundColor:#dcdee1;
    --headingColor:#f4615a;
    --pageColor:#ffffff;
    --fsCart:1.2rem;
    --fsCard:1.3rem;
    --fsTitle:3.5rem;
    --fsHeading:4rem;
}


/* global */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::after,
::before{
    content: '';
    position: absolute;
}

a{
    color:inherit;
    text-decoration: none;
}

button{
    cursor: pointer;
}

body{
    align-items: center;
    background-color:var(--backgroundColor);
    color:var(--fontsColor);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    justify-content: center;
    min-height: 100vh;
}

html{
    font-size: 62.5%;
}

button,
input{
    background: none;
    border: none;
    outline: none;
}

li,
ul{
    list-style:none;
}

/* boxy */
.wrapper{
    background-color:var(--pageColor);
    height: 851px;
    margin: auto;
    /* overflow: hidden; */
    position: relative;
    width: 961px;
}

/* NAGŁÓWEK */

.info-box{
    /* background: red; */
    display: grid;
    grid-template-columns:1fr 4fr 1fr;
    height: 6rem;
}

.title{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: var(--fsTitle);
    margin: 0.25rem 1rem;
}

.title > div{
    align-items: center;
    background: orange;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:20rem;
}

.title > div > span{
    align-items:center;
    display: flex;
    width: 50%;
}

.title > div > span:nth-of-type(1){
    background-color:var(--headingColor);
    border-bottom:.2rem solid var(--headingColor);
    border-left:.2rem solid var(--headingColor);
    border-top:.2rem solid var(--headingColor);
    color:var(--pageColor);
    justify-content: flex-end;
}

.title > div > span:nth-of-type(2){
    background-color:var(--pageColor);
    border-bottom:.2rem solid var(--headingColor);
    border-right:.2rem solid var(--headingColor);
    border-top:.2rem solid var(--headingColor);
    justify-content: flex-start;
}

.contact{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1rem;
}

.contact > address{
    font-style: normal;
}

.contact > address,
.contact > address > a{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
}

.contact > address > a{
    margin: auto 1rem;
    width:auto;
}

.contact > address > a > span:nth-of-type(1){
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3rem;
    justify-content: center;
    width: 3rem;
}
.contact > address > a > span:nth-of-type(1) > i{
    align-items: center;
    color:var(--headingColor);
    display: flex;
    justify-content: center;
}

.contact > address > a > span:nth-of-type(2){
    padding: 0 .5rem;
}

.shop-cart{
    align-items: center;
    background-color: #009900;
    color: #fff;
    display: flex;
    justify-content: center;
    transition: .12s linear filter;
}

.shop-cart:hover{
    filter:brightness(105%);
}

.shop-cart > p{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: var(--fsCart);
    flex-wrap: nowrap;
    justify-content: center;
}

.shop-cart > p > span:nth-of-type(1){
    align-items: center;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    margin: 0 .15rem;
    width: 1.5rem;
}

.shop-cart > p > span:nth-of-type(1) > i{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* menu */

menu{
    align-items: center;
    border-bottom:.2rem solid var(--hrefColor);
    border-top:.2rem solid var(--hrefColor);
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-evenly;
}

menu > li{
    height: 100%;
    transition: .12s linear background-color, .12s linear border-bottom, .12s linear color;
    width: calc(100% / 6);
}

menu > li:hover{
    background-color: var(--hrefColor);
    color:#fff;
}


menu > li > a{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}
/* main */

main{
    padding: 0 3rem;
}

h1{
    font-size: var(--fsHeading);
    margin: 1rem 0;
}

.main-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}